@font-face {
font-family: 'HK Grotesk Legacy';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-LegacyItalic.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-LegacyItalic.woff) format('woff');
font-weight: normal;
font-style: italic;
}
@font-face {
font-family: 'HK Grotesk';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-Medium.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-Medium.woff) format('woff');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'HK Grotesk';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-Italic.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-Italic.woff) format('woff');
font-weight: normal;
font-style: italic;
}
@font-face {
font-family: 'HK Grotesk';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-BoldItalic.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-BoldItalic.woff) format('woff');
font-weight: bold;
font-style: italic;
}
@font-face {
font-family: 'HK Grotesk Legacy';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-BoldLegacy.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-BoldLegacy.woff) format('woff');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'HK Grotesk';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-SemiBoldItalic.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-SemiBoldItalic.woff) format('woff');
font-weight: 600;
font-style: italic;
}
@font-face {
font-family: 'HK Grotesk';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-SemiBold.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-SemiBold.woff) format('woff');
font-weight: 600;
font-style: normal;
}
@font-face {
font-family: 'HK Grotesk';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-LightItalic.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-LightItalic.woff) format('woff');
font-weight: 300;
font-style: italic;
}
@font-face {
font-family: 'HK Grotesk SemiBold Legacy';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-SemiBoldLegacy.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-SemiBoldLegacy.woff) format('woff');
font-weight: 600;
font-style: normal;
}
@font-face {
font-family: 'HK Grotesk Light Legacy';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-LightLegacy.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-LightLegacy.woff) format('woff');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'HK Grotesk';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-Regular.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-Regular.woff) format('woff');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'HK Grotesk';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-Bold.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-Bold.woff) format('woff');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'HK Grotesk Legacy';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-BoldLegacyItalic.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-BoldLegacyItalic.woff) format('woff');
font-weight: bold;
font-style: italic;
}
@font-face {
font-family: 'HK Grotesk';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-MediumItalic.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-MediumItalic.woff) format('woff');
font-weight: 500;
font-style: italic;
}
@font-face {
font-family: 'HK Grotesk Medium Legacy';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-MediumLegacy.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-MediumLegacy.woff) format('woff');
font-weight: 500;
font-style: normal;
}
@font-face {
font-family: 'HK Grotesk Light Legacy';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-LightLegacyItalic.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-LightLegacyItalic.woff) format('woff');
font-weight: 300;
font-style: italic;
}
@font-face {
font-family: 'HK Grotesk SmBold Legacy';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-SemiBoldLegacyItalic.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-SemiBoldLegacyItalic.woff) format('woff');
font-weight: 600;
font-style: italic;
}
@font-face {
font-family: 'HK Grotesk Medium Legacy';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-MediumLegacyItalic.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-MediumLegacyItalic.woff) format('woff');
font-weight: 500;
font-style: italic;
}
@font-face {
font-family: 'HK Grotesk';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-Light.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-Light.woff) format('woff');
font-weight: 300;
font-style: normal;
}
@font-face {
font-family: 'HK Grotesk Legacy';
src: url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-RegularLegacy.woff2) format('woff2'),
url(//localhost/works/amarta/wp-content/themes/amartadey/fonts/HKGrotesk-RegularLegacy.woff) format('woff');
font-weight: normal;
font-style: normal;
}